.adminButton {
  background-color: #1c1917;
  padding: 0.5rem;
  flex: 1 1 0%;
  border-radius: 0.375rem;
  border-color: #57534e;
  border-width: 2px;
}

.adminButton:hover {
  background-color: #57534e;
}
